<script src="/htmlwidgets_deps/htmlwidgets-0.9/htmlwidgets.js"></script>
<script src="/htmlwidgets_deps/jquery-1.12.4/jquery.min.js"></script>
<script src="/htmlwidgets_deps/datatables-binding-0.2/datatables.js"></script>
<link href="/htmlwidgets_deps/dt-core-1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="/htmlwidgets_deps/dt-core-1.10.12/css/jquery.dataTables.extra.css" rel="stylesheet" />
<script src="/htmlwidgets_deps/dt-core-1.10.12/js/jquery.dataTables.min.js"></script>
<link href="/htmlwidgets_deps/plotlyjs-1.16.3/plotly-htmlwidgets.css" rel="stylesheet" />
<script src="/htmlwidgets_deps/plotlyjs-1.16.3/plotly-latest.min.js"></script>
<script src="/htmlwidgets_deps/plotly-binding-4.5.6/plotly.js"></script>
