<script src="/htmlwidgets_deps/htmlwidgets-1.0/htmlwidgets.js"></script>
<script src="/htmlwidgets_deps/jquery-1.12.4/jquery.min.js"></script>
<link href="/htmlwidgets_deps/datatables-css-0.0.0/datatables-crosstalk.css" rel="stylesheet" />
<script src="/htmlwidgets_deps/datatables-binding-0.3/datatables.js"></script>
<link href="/htmlwidgets_deps/dt-core-1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="/htmlwidgets_deps/dt-core-1.10.16/css/jquery.dataTables.extra.css" rel="stylesheet" />
<script src="/htmlwidgets_deps/dt-core-1.10.16/js/jquery.dataTables.min.js"></script>
<link href="/htmlwidgets_deps/crosstalk-1.0.0/css/crosstalk.css" rel="stylesheet" />
<script src="/htmlwidgets_deps/crosstalk-1.0.0/js/crosstalk.min.js"></script>
<script src="/htmlwidgets_deps/d3-4.3.0/d3.min.js"></script>
<script src="/htmlwidgets_deps/d3-lasso-0.0.5/d3-lasso.min.js"></script>
<link href="/htmlwidgets_deps/ggiraph-0.3.0/styles.css" rel="stylesheet" />
<script src="/htmlwidgets_deps/ggiraph-0.3.0/ggiraph_utils.js"></script>
<script src="/htmlwidgets_deps/ggiraph-0.3.0/ggiraph_over_effect.js"></script>
<script src="/htmlwidgets_deps/ggiraph-0.3.0/ggiraph_zoom.js"></script>
<script src="/htmlwidgets_deps/ggiraph-0.3.0/ggiraph_tooltip.js"></script>
<script src="/htmlwidgets_deps/ggiraph-0.3.0/ggiraph_selector.js"></script>
<script src="/htmlwidgets_deps/ggiraph-binding-0.4.2/ggiraph.js"></script>
<script src="/htmlwidgets_deps/svg_1-0.0.1/scripts_svg_1.js"></script>
<script src="/htmlwidgets_deps/svg_2-0.0.1/scripts_svg_2.js"></script>
<script src="/htmlwidgets_deps/svg_3-0.0.1/scripts_svg_3.js"></script>
<script src="/htmlwidgets_deps/svg_4-0.0.1/scripts_svg_4.js"></script>
