<script src="{{ "/htmlwidgets_deps/htmlwidgets-0.8/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/plotlyjs-1.25.2/plotly-htmlwidgets.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/plotlyjs-1.25.2/plotly-latest.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/plotly-binding-4.5.6.9000/plotly.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/jquery-1.11.3/jquery.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/crosstalk-1.0.0/css/crosstalk.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/crosstalk-1.0.0/js/crosstalk.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/typedarray-0.1/typedarray.min.js" | prepend: site.baseurl }}"></script>
