<nav id="post-nav">
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        {{ if .Paginator.HasPrev }}
        {{ $link := substr .Paginator.Prev.URL  0 -1 }}
        <span class="prev">
            <a href="{{ if eq $link "" }}/{{else}}{{$link}}{{ end }}">
                <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}Newer Posts{{ end }}
            </a>
        </span>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <span class="next">
            <a href="{{ substr .Paginator.Next.URL 0 -1 }}">
                {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}Older Posts{{ end }} <span class="arrow">→</span>
            </a>
        </span>
        {{ end }}
    {{ end }}
</nav>