<ul id="post-list">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
            <li>
                <aside class="dates">{{ .Date.Format "Jan 2" }}</aside>
                <a href='{{ substr .Permalink 0 -1 }}'>
                    {{ .Title }}
                    {{ if .Site.Params.enableSummary }}
                        {{ if .Site.Params.useDescriptionReplaceSummary }}
                            <h2>{{ .Description | plainify }}</h2>
                        {{ else }}
                            <h2>{{ .Summary | plainify | htmlUnescape }}</h2>
                        {{ end }}
                    {{ end }}
                </a>
            </li>
    {{ end }}
</ul>